# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Uss sync all'
      'command': 'uss-file-sync:uss-sync-all'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'uss-file-sync'
      'submenu': [
        {
          'label': 'Uss sync all'
          'command': 'uss-file-sync:uss-sync-all'
        }
      ]
    ]
  }
]
